# Data Cleaning and Manipulation - A

In [1]:
# import required packages
import pandas as pd

## Merging all excel sheets into one

In [2]:
# importing the first sheet of excel to just fetch the columns
d1 = pd.read_excel('/content/General_Totals_All_Seasons.xlsx', sheet_name=0)
cols = d1.columns.tolist().append('Season')

# create a new empty df with the above columns
df = pd.DataFrame(columns=cols)

In [3]:
# get all the names in the sheet and store it in SEASON variable
l = pd.read_excel("/content/General_Totals_All_Seasons.xlsx", None)
seasons = list(l.keys())

In [4]:
# append all the sheets in excel along with the SEASON
for i in range(21):
    dd = pd.read_excel('/content/General_Totals_All_Seasons.xlsx', sheet_name=i)
    dd['SEASON'] = seasons[i]
    df = df.append(dd)

#print(df.describe(include='all'))
#df.to_excel('~/Downloads/data.xlsx', index=False)

In [9]:
# df head
df.head()

             PLAYER TEAM  AGE  GP   W  ...      FP  DD2  TD3  +/-     SEASON
0    Michael Jordan  CHI   34  82  69  ...  3923.4    9    1  820  1996-1997
1       Karl Malone  UTA   33  82  64  ...  4021.8   43    1  767  1996-1997
2         Glen Rice  CHH   30  79  52  ...  2853.6    0    0  176  1996-1997
3    Mitch Richmond  SAC   32  81  34  ...  3173.8    4    1  -96  1996-1997
4  Latrell Sprewell  GSW   26  80  29  ...  3349.7   15    1 -216  1996-1997

[5 rows x 30 columns]

In [6]:
# converting the years in SEASON to full form
df['SEASON'] = df['SEASON'].apply(lambda x: x[:-2]+'19'+x[-2:] if int(x[-2:]) > 80  else x[:-2]+'20'+x[-2:] )

In [8]:
# currently how season looks
df['SEASON'].unique()

array(['1996-1997', '1997-1998', '1998-1999', '1999-2000', '2000-2001',
       '2001-2002', '2002-2003', '2003-2004', '2004-2005', '2005-2006',
       '2006-2007', '2007-2008', '2008-2009', '2009-2010', '2010-2011',
       '2011-2012', '2012-2013', '2013-2014', '2014-2015', '2015-2016',
       '2016-2017'], dtype=object)

## Exporting the Final dataframe

In [10]:
# exportingthe dataframe to new CSV
df.to_csv('General_Totals_All_Seasons_Cleaned.csv', index = False, header=True)